<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>UDP server</title>
</head>

<body>
<h1>Página principal del micro servicio que permite conusltas de Chat GPT de la BUP v.1.0.0</h1>
<p>Lista del API al 20-diciembre-2023.</p>
<p></p>
<p>- /api/v1/bupvector/generate</i></p>
<p>- /api/v1/bupvector/vectorciacia?question=</i>question</p>
<p>- /api/v1/bupvector/vectorciaperson?question=</i>question</p>
<p>- /api/v1/bupvector/vectorpersoncia?question=</i>question</p>
<p>- /api/v1/bupvector/vectorpersonperson?question=</i>question</p>
</body>
</html>
